.plan-card {
  width: 300px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 20px 20px rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 7px;
}

.plan-card:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 20px 25px rgb(221, 221, 221);
}

.plan-title {
  font-weight: 600;
}

.offer {
  position: relative;
}

.offer::after {
  content: "";
  width: 60px;
  border: 1px solid #fe6e6e;
  position: absolute;
  top: 4px;
  left: 0%;
  rotate: 10deg;
}

.plan-price {
  font-weight: 400;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 20px 2px 20px;
  width: max-content;
  border-radius: 5px;
}

.explore-button {
  border: none;
}

.what-you-get {
  font-weight: 200;
}

.detail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detail {
  font-size: 13px;
}

.icon {
  font-size: 15px;
}

.feature-container {
  display: flex;
  align-items: center;
}

.explore-features {
  font-weight: 600;
  font-size: small;
  cursor: pointer;
}

.detail-text {
  font-size: small;
}

/* Add this media query for tablet-sized screens */
@media (max-width: 768px) {
  .plan-card {
    width: 100%;
  }
}

/* Add this media query for mobile-sized screens */
@media (max-width: 480px) {
  .plan-card {
    padding: 10px;
  }
}
